* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

:root {
    --color-white: white;
    --font-size-18: 18px;
    --border-radius-5: 5px;
    --box-width-400: 400px;
    --box-width-300: 300px;
    --box-width-260: 260px;
    --color-blue: rgb(0, 136, 255);
    --color-red: #ff0000;
    --color-green: green;
}

nav {
    height: 80px;
    background-color: var(--color-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

nav>section {
    color: var(--color-white);
    font-size: 2rem;
}

nav>section>ul {
    list-style-type: none;
}

nav>section>ul>li {
    float: left;
    margin: 5px;
}